<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragment/head"></div>

<body>
    <div th:replace="fragment/navbar"></div>
    <div class="container">
        <a class="btn btn-primary" href="/create" role="button">Create new Article</a>
        <span> <a href="#">English</a></span>
        <span><a href="#"> Khmer</a></span>
        <span><a href="#"> korea</a></span>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:object="${home}" th:each="home : ${dataTable}">
                    <th th:text="${home.getId}" scope="row">1</th>
                    <td th:text="${home.getTitle()}"></td>
                    <td th:text="${home.getDescription()}"></td>
                    <td><img th:src="@{${home.getImage()}}" width="50" /></td>
                    <td>
                        <a class="btn btn-outline-success" href="/view" role="button">View</a>
                        <a class="btn btn-outline-warning" href="/edit" role="button">Edit</a>
                        <button type="button" class="btn btn-outline-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
    </script>
</body>
</html>